/* Fonts */
.poppins {
  font-family: "Poppins";
}

.dosis {
  font-family: "Dosis";
}

.nothingCall {
  font-family: "Nothing You Could Do";
}

.lacqure {
  font-family: "Lacquer";
}

.akronim {
  font-family: "Akronim";
}

.cinzel {
  font-family: "Cinzel";
}

.App {
  text-align: center;
}

.wrap-img {
  height: 185px;
  width: 175px;
  background: #88b9d7;
}

.my-name {
  color: #3c5e9b;
}

.my-icon:hover {
  color: #3c5e9b !important;
  box-shadow: 0px 3px #3c5e9b;
  color: #ebe3a0;
}

.w-60 {
  width: 50vw !important;
}

.cv-btn {
  background: #344350 !important;
  color: #fff !important;
  transition-property: background;
  transition-duration: 0.4s;
}

.cv-btn:hover {
  background: #3c5e9b !important;
}

.svg-margin {
  margin: 0 0.8rem 0 -3rem;
}

.python-small {
  margin-right: 5rem !important;
}

.react-margin {
  margin: 0 2.8rem !important;
}

.static-div {
  height: 160px;
  width: 160px;
  border: 1rem #a0e6eb inset;
}

.my-card {
  box-shadow: 0px 0px #333;
  transition: all 0.5s ease-out;
  width: 26vw;
}

.my-card:hover {
  box-shadow: 0px 0px 20px 2px rgb(179, 139, 202);
}

.cursor {
  width: 30px;
  height: 30px;
  background: #dae0f1;
  border-radius: 50%;
  position: absolute;
  transition: all 0.1s ease;
  animation: cursorAnim 0.5s infinite alternate;
  z-index: -1;
}

.cursor::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 15px solid #eff1f7;
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
  transition: all 0.1s ease;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@media only screen and (min-width: 1380px) {
  .svg-margin {
    margin-left: -8rem;
  }
  .my-card {
    width: 24vw;
  }
  .react-margin {
    margin: 0 4rem !important;
  }

  .python-small {
    margin-left: -6rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .w-60 {
    width: 100vw !important;
    font-size: 16px !important;
    padding: 1rem 0rem !important;
  }
  .svg-margin {
    margin: 0 1.5rem;
  }
  .react-margin {
    margin: 0 1.5rem !important;
  }
  .my-card {
    width: 50vw;
  }
  .cv-btn {
    margin-bottom: 0.3rem;
  }
  .python-small {
    margin-right: 3rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .w-60 {
    width: 70vw !important;
    font-size: 16px !important;
    padding: 1rem 0rem !important;
  }
  .svg-margin {
    margin: 0 1.5rem;
  }
  .my-card {
    width: 80vw;
    padding: 0rem !important;
  }
  .cv-btn {
    margin-bottom: 0.3rem;
  }
  .python-small {
    margin-right: 0rem !important;
    margin-right: 0 !important;
  }
}
